@{
    ViewBag.Title = "Index";
}

    <div class="jumbotron">
        <h1 class="display-4">Budget.App</h1>
        <p class="lead">This is an expenses overview application, that is designed to help you to be aware of your expense habbits.</p>
        <hr class="my-4">
    </div>

